* {
  margin: 0;
  padding: 0;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  --primary-clr: #0d0d10;
  --griffingdor-clr: #ce373d;
  --slytherin-hoover-button-clr: #377f6a;
  --huffelpuff-button-clr: #e6a038;
  --ravenclaw-clr: #445393;
}
body {
  width: 100%;
  height: 100vh;
  background-image: url(../images/background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}
header {
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 18rem;
}

.logo:hover {
  opacity: 60%;
}

nav ul {
  margin: 0.6rem;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

nav a:hover,
nav a:focus {
  color: #e0c53b;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e0c53b;

  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  border-radius: 2px;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}
.professor-container {
  height: 80vh;
  width: 40vw;
  background-color: #377f6a;
}

.students-container {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

.students-list {
  /* padding-inline-start: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
}

.student {
  list-style-type: none;
  /* background-color: black; */
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  /* grid-template-columns: 4fr 1fr; */
  grid-template-areas:
    "name image"
    "house image"
    "status image"
    "status image";
  text-align: left;
}
.character-image {
  max-height: 150px;
  grid-area: image;
  display: flex;
  justify-content: center;
}
.character > h2 {
  grid-area: name;
  margin-bottom: 0px;
}

.character-house {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}
