* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-image: url(/images/Harry-Potter-background.jpg);
  font-family: mr-darcy, sans-serif;
  font-weight: 600;
  font-style: normal;
}

/* Header begynner her */

header {
  left: 0;
  right: 0;
  margin: 0;
  z-index: 99;
}

.logo {
  width: 18rem;
}

.logo:hover {
  opacity: 60%;
}

nav ul {
  margin: 0.6rem;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 1em;
  position: relative;
}

nav a {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

nav a:hover,
nav a:focus {
  color: #e0c53b;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #e0c53b;

  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  border-radius: 2px;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

@media (min-width: 60rem) {
  .logo {
    float: left;
  }

  nav {
    float: right;
  }
}

/* heading and teachers list */

h1 {
  padding: 30px;
  text-align: center;
  position: relative;
  font-size: 3rem;
  margin: 60px;
  color: #e0c53b;
}
.container {
  padding: 40px;
  margin: 0 auto;
  width: 100%;
}

.teacher-list {
  margin-top: 25px;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.teacher {
  list-style-type: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "name image"
    "house image"
    "patronus image"
    "status image";
  text-align: left;
}
.teacher {
  border: 1px solid rgba(68, 83, 147, 0.8);
  transition: transform 500ms ease-in-out;
}
.teacher:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(68, 83, 147, 0.8),
    inset 0 0 10px 5px rgba(68, 83, 147, 0.8);
}

.teacher > h2 {
  grid-area: name;
  margin-bottom: 20px;
}

.teacher-house {
  grid-area: house;
  margin: 0;
  margin-top: -18px;
}

.teacher-patronus {
  grid-area: patronus;
  margin: 0;
  margin-top: 3px;
  display: none;
}

/*li.teacher:hover + .teacher-patronus {
  display: block;
}
*/

.teacher-image {
  max-height: 100px;
  grid-area: image;
}
